*{
    margin:	0% 0% 0% 0%;
    padding: 0;
}

.App {
    text-align: center;
    background-color: #282c34;
    font-family: "DejaVu Sans Condensed";
    display:inline-block;
    padding:0px;
    margin:0px;
}


.Sidebar {
    right: -85.8%;
}

.Text {
    position: relative;

    transform: translate(-58%, 15%);
}