*{
  margin:	0% 0% 0% 0%;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  font-family: "DejaVu Sans Condensed";
  display:inline-block;
  padding:0px;
  margin:0px;
}

/* unvisited link */
a:link {
  color: lightgreen;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: lawngreen;
}

/* selected link */
a:active {
  color: green;
}

.Logo {
  background-image: url("./assets/Logo2.png");
  width: 100%;
  height: 850px;
  background-size: 100%;
  background-position-y: center;
}

.SettingsButton {
  width: 45px;
  height: 25px;
  position: relative;
  right: -49%;
}

.Sidebar {
  right: -85.8%;
}

.Content1 {
  background-image: url("./assets/Teuto6.png");
  font-family: "DejaVu Sans Condensed";
}

.Content2 {
  background-image: url("./assets/Teuto4.png");
  font-family: "DejaVu Sans Condensed";
}

.Content3 {
  background-image: url("./assets/Teut5.png");
  font-family: "DejaVu Sans Condensed";
}

.Content4 {
  background-image: url("./assets/Teuto7.png");
  font-family: "DejaVu Sans Condensed";
}